<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${user.home}/.ofxcat/ofxcat.log</file>
        <append>false</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- log everything to file -->
    <root level="debug">
        <appender-ref ref="FILE"/>
    </root>

    <!-- make Flyway less chatty -->
    <logger name="org.flywaydb" level="INFO" />
</configuration>